<h3>Lista de Usuários</h3>
<div class="table-container">
  <table class="alt">
    <thead>
      <tr>
        <!-- <th>Id</th> -->
        <th>Nome</th>
        <th>Email</th>
        <th>Data de Nascimento</th>
        <th>Endereço</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr
        style="cursor: pointer"
        *ngFor="let menber of menbers"
        (click)="menberClicked(menber)"
      >
        <!-- <td>{{ menber.id }}</td> -->
        <td width="18%" class="fw-bold">
          {{ menber.name }} {{ menber.surname }}
        </td>
        <td width="5%" data-title="Email">
          {{ menber.email }}
        </td>
        <td width="13%" data-title="Data de Nascimento">{{ menber.d_nasc }}</td>
        <td width="25%" data-title="Endereço">{{ menber.andress }}</td>
        <td width="25%" data-title="Telefone">{{ menber.phone }}</td>

        <td class="table-actions">
          <a
            href="member-detail/{{ menber.id }}
           "
            class="table-link-show"
            >Visualizar</a
          >
        </td>

        <br />
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
